@page
@model AboutModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>Jam team forming. Easy mode. With improved game balance.</p>
    <p>@AppConstants.Version</p>
    <p>Created by <a href="https://kurantob.itch.io/">kurantoB</a></p>
    <p>Inquiries: kurantonomichi@gmail.com</p>
    <p><a href="https://github.com/kurantoB/JamTeamFormingTool">GitHub</a></p>
</div>
