@page
@model JamTeamFormingTool.Pages.RoleTemplateCreateModel

@{
    ViewData["Title"] = "RoleTemplateCreate";
}

<h1>Role template creation</h1>

@(await Html.RenderComponentAsync<JamTeamFormingTool.Components.RoleTemplate.PageCreate>(RenderMode.ServerPrerendered))

<div>
    <a asp-page="RoleTemplateIndex">Back to List</a>
</div>

<script src="_framework/blazor.server.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}